@model Models.ViewModels.HomeViewModel
@{
    Layout = "~/Views/Shared/FrontEndLayout/_FrontEndLayout.cshtml";
}
@section canonical{
    <link rel="canonical" href="@ViewBag.canonical" />
    }
<!-- SLIDER START -->
<div class="main-slider style-two default-banner">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <!-- START REVOLUTION SLIDER 5.4.1 -->
            <div id="rev_slider_1077_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="scroll-effect136" data-source="gallery" style="background-color:#111111;padding:0px;">
                <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
                <div id="rev_slider_1077_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                    <ul>
                        @{
                            int i = 0;
                            foreach (var slide in Model.Sliders)
                            {
                                if (i == 0)
                                {
                                    <li data-index="rs-100" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-thumb="@slide.ImageUrl" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1" data-fsslotamount="7" data-saveperformance="off" data-title="Big &amp; Bold" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="@slide.ImageUrl" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption tp-shape tp-shapewrapper  "
                                             id="slide-100-layer-1"
                                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                             data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                                             data-width="full"
                                             data-height="['400','400','400','550']"
                                             data-whitespace="nowrap"
                                             data-type="shape"
                                             data-basealign="slide"
                                             data-responsive_offset="off"
                                             data-responsive="off"
                                             data-frames='[{"from":"opacity:0;","speed":100,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":0,"to":"opacity:0;","ease":"nothing"}]'
                                             data-textAlign="['left','left','left','left']"
                                             data-paddingtop="[0,0,0,0]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingbottom="[0,0,0,0]"
                                             data-paddingleft="[0,0,0,0]"
                                             style="z-index: 5;text-transform:left;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);
                                            border-width:0px;background:linear-gradient(to top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);cursor:default;">
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption tp-shape tp-shapewrapper  "
                                             id="slide-100-layer-2"
                                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
                                             data-width="full"
                                             data-height="['400','400','400','550']"
                                             data-whitespace="nowrap"
                                             data-type="shape"
                                             data-basealign="slide"
                                             data-responsive_offset="off"
                                             data-responsive="off"
                                             data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                                             data-textAlign="['left','left','left','left']"
                                             data-paddingtop="[0,0,0,0]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingbottom="[0,0,0,0]"
                                             data-paddingleft="[0,0,0,0]"
                                             style="z-index: 5;text-transform:left;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);
                                            border-width:0px;background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);cursor:default;">
                                        </div>

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption BigBold-Title tp-resizeme"
                                             id="slide-100-layer-3"
                                             data-x="['right','right','right','right']" data-hoffset="['50','50','30','17']"
                                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['110','110','180','180']"
                                             data-fontsize="['90','70','50','30']"
                                             data-lineheight="['100','90','60','60']"
                                             data-fontweight="['800','800','800','800']"
                                             data-width="['none','none','none','400']"
                                             data-height="none"
                                             data-whitespace="['nowrap','nowrap','nowrap','normal']"
                                             data-type="text"
                                             data-basealign="slide"
                                             data-responsive_offset="off"
                                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},
                                            {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                                             data-textAlign="['right','right','right','right']"
                                             data-paddingtop="[10,10,10,10]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingbottom="[10,10,10,10]"
                                             data-paddingleft="[0,0,0,0]"
                                             style="z-index: 6;
                                    text-transform:uppercase;
                                    color:#fff;
                                ">
                                            <span class="text-primary">
                                                @slide.TitleSrt
                                            </span>
                                        </div>

                                        <!-- LAYER NR. 4 -->
                                        <div class="tp-caption BigBold-SubTitle  "
                                             id="slide-100-layer-4"
                                             data-x="['right','right','right','right']" data-hoffset="['55','55','33','20']"
                                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','1','74','78']"
                                             data-fontsize="['15','15','15','13']"
                                             data-lineheight="['24','24','24','20']"
                                             data-width="['410','410','410','280']"
                                             data-height="['60','100','100','100']"
                                             data-whitespace="normal"
                                             data-type="text"
                                             data-basealign="slide"
                                             data-responsive_offset="off"
                                             data-responsive="off"
                                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                                             data-textAlign="['right','right','right','right']"
                                             data-paddingtop="[0,0,0,0]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingbottom="[0,0,0,0]"
                                             data-paddingleft="[0,0,0,0]"
                                             style="z-index: 7;color:#fff;  direction:rtl;">
                                            @slide.SummarySrt

                                        </div>

                                        <!-- LAYER NR. 5 -->
                                        <div class="tp-caption BigBold-Button rev-btn "
                                             id="slide-100-layer-5"
                                             data-x="['right','right','right','right']" data-hoffset="['480','480','30','20']"
                                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['35','35','35','35']"
                                             data-width="none"
                                             data-height="none"
                                             data-whitespace="nowrap"
                                             data-type="button"
                                             data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
                                             data-basealign="slide"
                                             data-responsive_offset="off"
                                             data-responsive="off"
                                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                             data-textAlign="['right','right','right','right']"
                                             data-paddingtop="[15,15,15,15]"
                                             data-paddingright="[50,50,50,50]"
                                             data-paddingbottom="[15,15,15,15]"
                                             data-paddingleft="[50,50,0,0]"
                                             style="z-index: 8; ">
                                            <a href="@slide.LinkAddress" class="site-button outline white">
                                                @slide.LinkTitleSrt
                                            </a>
                                        </div>


                                    </li>

                                }
                                else if (i == 1)
                                {
                                    <li data-index="rs-200" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-thumb="@slide.ImageUrl" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Big &amp; Bold" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="@slide.ImageUrl" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption tp-shape tp-shapewrapper  "
                                             id="slide-200-layer-1"
                                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                             data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                                             data-width="full"
                                             data-height="['400','400','400','550']"
                                             data-whitespace="nowrap"
                                             data-type="shape"
                                             data-basealign="slide"
                                             data-responsive_offset="off"
                                             data-responsive="off"
                                             data-frames='[{"from":"opacity:0;","speed":100,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":0,"to":"opacity:0;","ease":"nothing"}]'
                                             data-textAlign="['left','left','left','left']"
                                             data-paddingtop="[0,0,0,0]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingbottom="[0,0,0,0]"
                                             data-paddingleft="[0,0,0,0]"
                                             style="z-index: 5;text-transform:left;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);
                                            border-width:0px;background:linear-gradient(to top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);cursor:default;">
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption tp-shape tp-shapewrapper  "
                                             id="slide-200-layer-2"
                                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
                                             data-width="full"
                                             data-height="['400','400','400','550']"
                                             data-whitespace="nowrap"
                                             data-type="shape"
                                             data-basealign="slide"
                                             data-responsive_offset="off"
                                             data-responsive="off"
                                             data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                                             data-textAlign="['left','left','left','left']"
                                             data-paddingtop="[0,0,0,0]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingbottom="[0,0,0,0]"
                                             data-paddingleft="[0,0,0,0]"
                                             style="z-index: 5;text-transform:left;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);
                                            border-width:0px;background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);cursor:default;">
                                        </div>

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption BigBold-Title   tp-resizeme"
                                             id="slide-200-layer-3"
                                             data-x="['right','right','right','right']" data-hoffset="['50','50','30','17']"
                                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['110','110','180','180']"
                                             data-fontsize="['90','70','50','30']"
                                             data-lineheight="['100','90','60','60']"
                                             data-fontweight="['800','800','800','800']"
                                             data-width="['none','none','none','400']"
                                             data-height="none"
                                             data-whitespace="['nowrap','nowrap','nowrap','normal']"
                                             data-type="text"
                                             data-basealign="slide"
                                             data-responsive_offset="off"
                                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},
                                            {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                                             data-textAlign="['right','right','right','right']"
                                             data-paddingtop="[10,10,10,10]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingbottom="[10,10,10,10]"
                                             data-paddingleft="[0,0,0,0]"
                                             style="z-index: 6;
                                            text-transform:uppercase;
                                            color:#fff;
                                            "><span class="text-primary">@slide.TitleSrt</span></div>

                                            <!-- LAYER NR. 4 -->
                                            <div class="tp-caption BigBold-SubTitle  "
                                                 id="slide-200-layer-4"
                                                 data-x="['right','right','right','right']" data-hoffset="['55','55','33','20']"
                                                 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','1','74','78']"
                                                 data-fontsize="['15','15','15','13']"
                                                 data-lineheight="['24','24','24','20']"
                                                 data-width="['410','410','410','280']"
                                                 data-height="['60','100','100','100']"
                                                 data-whitespace="normal"
                                                 data-type="text"
                                                 data-basealign="slide"
                                                 data-responsive_offset="off"
                                                 data-responsive="off"
                                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                                                 data-textAlign="['right','right','right','right']"
                                                 data-paddingtop="[0,0,0,0]"
                                                 data-paddingright="[0,0,0,0]"
                                                 data-paddingbottom="[0,0,0,0]"
                                                 data-paddingleft="[0,0,0,0]"
                                                 style="z-index: 7;
                                            color:#fff;
                                            direction:rtl;
                                            ">
                                                @slide.SummarySrt
                                            </div>

                                            <!-- LAYER NR. 5 -->
                                            <div class="tp-caption BigBold-Button rev-btn "
                                                 id="slide-200-layer-5"
                                                 data-x="['right','right','right','right']" data-hoffset="['480','480','30','20']"
                                                 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['35','35','35','35']"
                                                 data-width="none"
                                                 data-height="none"
                                                 data-whitespace="nowrap"
                                                 data-type="button"
                                                 data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
                                                 data-basealign="slide"
                                                 data-responsive_offset="off"
                                                 data-responsive="off"
                                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                                 data-textAlign="['right','right','right','right']"
                                                 data-paddingtop="[15,15,15,15]"
                                                 data-paddingright="[50,50,50,50]"
                                                 data-paddingbottom="[15,15,15,15]"
                                                 data-paddingleft="[50,50,0,0]"
                                                 style="z-index: 8; "><a href="@slide.LinkAddress" class="outline white">@slide.LinkTitleSrt</a></div>


                                            </li>
                                }
                                else if (i == 2)
                                {
                                    <li data-index="rs-300" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-thumb="@slide.ImageUrl" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Big &amp; Bold" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="@slide.ImageUrl" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption tp-shape tp-shapewrapper  "
                                             id="slide-300-layer-1"
                                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                             data-y="['top','top','top','top']" data-voffset="['0','0','0','0']"
                                             data-width="full"
                                             data-height="['400','400','400','550']"
                                             data-whitespace="nowrap"
                                             data-type="shape"
                                             data-basealign="slide"
                                             data-responsive_offset="off"
                                             data-responsive="off"
                                             data-frames='[{"from":"opacity:0;","speed":100,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":0,"to":"opacity:0;","ease":"nothing"}]'
                                             data-textAlign="['left','left','left','left']"
                                             data-paddingtop="[0,0,0,0]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingbottom="[0,0,0,0]"
                                             data-paddingleft="[0,0,0,0]"
                                             style="z-index: 5;text-transform:left;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);
                                            border-width:0px;background:linear-gradient(to top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);cursor:default;">
                                        </div>

                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption tp-shape tp-shapewrapper  "
                                             id="slide-300-layer-2"
                                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
                                             data-width="full"
                                             data-height="['400','400','400','550']"
                                             data-whitespace="nowrap"
                                             data-type="shape"
                                             data-basealign="slide"
                                             data-responsive_offset="off"
                                             data-responsive="off"
                                             data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                                             data-textAlign="['left','left','left','left']"
                                             data-paddingtop="[0,0,0,0]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingbottom="[0,0,0,0]"
                                             data-paddingleft="[0,0,0,0]"
                                             style="z-index: 5;text-transform:left;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);
                                            border-width:0px;background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);cursor:default;">
                                        </div>

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption BigBold-Title   tp-resizeme"
                                             id="slide-300-layer-3"
                                             data-x="['right','right','right','right']" data-hoffset="['50','50','30','17']"
                                             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['110','110','180','180']"
                                             data-fontsize="['90','70','50','30']"
                                             data-lineheight="['100','90','60','60']"
                                             data-fontweight="['800','800','800','800']"
                                             data-width="['none','none','none','400']"
                                             data-height="none"
                                             data-whitespace="['nowrap','nowrap','nowrap','normal']"
                                             data-type="text"
                                             data-basealign="slide"
                                             data-responsive_offset="off"
                                             data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},
                                            {"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                                             data-textAlign="['right','right','right','right']"
                                             data-paddingtop="[10,10,10,10]"
                                             data-paddingright="[0,0,0,0]"
                                             data-paddingbottom="[10,10,10,10]"
                                             data-paddingleft="[0,0,0,0]"
                                             style="z-index: 6;
                                            text-transform:uppercase;
                                            color:#fff;
                                            font
                                            "><span class="text-primary">@slide.TitleSrt</span></div>

                                            <!-- LAYER NR. 4 -->
                                            <div class="tp-caption BigBold-SubTitle  "
                                                 id="slide-300-layer-4"
                                                 data-x="['right','right','right','right']" data-hoffset="['55','55','33','20']"
                                                 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','1','74','78']"
                                                 data-fontsize="['15','15','15','13']"
                                                 data-lineheight="['24','24','24','20']"
                                                 data-width="['410','410','410','280']"
                                                 data-height="['60','100','100','100']"
                                                 data-whitespace="normal"
                                                 data-type="text"
                                                 data-basealign="slide"
                                                 data-responsive_offset="off"
                                                 data-responsive="off"
                                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                                                 data-textAlign="['right','right','right','right']"
                                                 data-paddingtop="[0,0,0,0]"
                                                 data-paddingright="[0,0,0,0]"
                                                 data-paddingbottom="[0,0,0,0]"
                                                 data-paddingleft="[0,0,0,0]"
                                                 style="z-index: 7; color: #fff; direction: rtl; ">
                                                @slide.SummarySrt
                                            </div>

                                            <!-- LAYER NR. 5 -->
                                            <div class="tp-caption BigBold-Button rev-btn "
                                                 id="slide-300-layer-5"
                                                 data-x="['right','right','right','right']" data-hoffset="['480','480','30','20']"
                                                 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['35','35','35','35']"
                                                 data-width="none"
                                                 data-height="none"
                                                 data-whitespace="nowrap"
                                                 data-type="button"
                                                 data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
                                                 data-basealign="slide"
                                                 data-responsive_offset="off"
                                                 data-responsive="off"
                                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                                 data-textAlign="['right','right','right','right']"
                                                 data-paddingtop="[15,15,15,15]"
                                                 data-paddingright="[50,50,50,50]"
                                                 data-paddingbottom="[15,15,15,15]"
                                                 data-paddingleft="[50,50,0,0]"
                                                 style="z-index: 8; "><a href="@slide.LinkAddress" class="site-button outline white">@slide.LinkTitleSrt</a></div>
                                            </li>
                                }
                                i++;
                            }
                        }
                       
                       
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div>
            <!-- END REVOLUTION SLIDER -->
        </div>
    </div>
</div>
<!-- SLIDER END -->
<!-- ABOUT COMPANY SECTION START -->
<div class="section-full p-tb100">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <div class="about-com-pic">
                    <img src="@Model.AboutTextItem.ImageUrl" alt="@Model.AboutTextItem.Title" class="img-responsive" />
                </div>
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="section-head text-left">
                    <h1 class="text-uppercase">@Model.AboutTextItem.TitleSrt</h1>
                    <div class="wt-separator-outer">
                        <div class="wt-separator style-square">
                            <span class="separator-left bg-primary"></span>
                            <span class="separator-right bg-primary"></span>
                        </div>
                    </div>
                    <p>@Html.Raw(Model.AboutTextItem.BodySrt)</p>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- ABOUT COMPANY SECTION END -->
<!-- LATEST PROJECT SECTION START -->
<div class="section-full p-tb80" style="background-image:url(/images/TopproBg.jpg); background-repeat:repeat;background-color:#333; ">
    <div class="overlay-main"></div>
    <!-- TITLE START -->
    <div class="container">
        <div class="section-head">
            <div class="container">
                <h2 class="text-uppercase text-white">@Resources.Label.NewProduct</h2>
                <div class="wt-separator-outer">
                    <div class="wt-separator style-square has-bg">
                        <span class="separator-left bg-primary"></span>
                        <span class="separator-right bg-primary"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TITLE END -->

    <div class="section-content">
        <!-- CAROUSEL -->
        <div class="section-content ">
            <div class="owl-carousel home-carousel-1 mfp-gallery gallery owl-btn-vertical-center">
                @foreach (var product in Model.Products)
                {
                    <div class="item">
                        <div class="flip-container">
                            <div class="wt-box">
                                <div class="wt-thum-bx">
                                    <img src="@product.ImageUrl" alt="@product.TitleSrt" >
                                </div>
                                <div class="wt-info bg-gray text-center bdr-5 bdr-primary">
                                    <div class="wt-info-media-zoom">
                                        <a href="@product.ImageUrl" class="mfp-link">
                                            <i class="fa fa-search-plus font-24 p-a10"></i>
                                        </a>
                                    </div>
                                    <div class="wt-info-text p-a30">
                                        <h3 class="text-uppercase">
                                            <a href="/product/@product.ProductGroupId/@product.Id">
                                                @product.TitleSrt
                                            </a>
                                        </h3>
                                        <p>@product.SummarySrt</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- LATEST PROJECT SECTION END -->
<!-- WHY CHOOSE US SECTION START  -->
<div class="section-full  p-t80 p-b80 bg-gray">
    <div class="container">
        <!-- TITLE START-->
        <div class="section-head text-center">
            <h2 class="text-uppercase text-center">@Model.WhyTitle.TitleSrt</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left bg-primary"></span>
                    <span class="separator-right bg-primary"></span>
                </div>
            </div>
            <p>
                @Model.WhyTitle.Summary1Srt
            </p>
        </div>
        <!-- TITLE END-->
        <div class="section-content no-col-gap">
            <div class="row">
                <!-- COLUMNS 1 -->
                @foreach (var item in Model.WhyTextItems)
                {
                    <div class="col-md-4 col-sm-6 animate_line why-text">
                        <div class="wt-icon-box-wraper  p-a30 center bg-white m-a5">
                            <div class="icon-sm text-primary m-b20">
                                <span class="icon-cell"><i class="fa fa-life-ring" aria-hidden="true"></i></span>
                            </div>
                            <div class="icon-content">
                                <h3 class="wt-tilte">@item.TitleSrt</h3>
                                <p>@item.Summary1Srt</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- WHY CHOOSE US SECTION END -->
<!-- COMPANY DETAIL SECTION START -->
<div class="section-full p-t50 p-b50 overlay-wraper bg-parallax" data-stellar-background-ratio="0.5" style="background-image:url(/images/background/bg-555.jpg);">
    <div class="overlay-main" style="opacity:0.7; background-color:#1a1a1a; "></div>
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <div class="text-right text-white">
                    <h2 class="font-24">@Model.AboutTextItemSecond.Summary1Srt @Model.AboutTextItemSecond.TitleSrt</h2>
                    <p>@Html.Raw(Model.AboutTextItemSecond.BodySrt)</p>
                </div>
            </div>
            <div class="col-md-4"></div>
            <p class="clear"></p>
        </div>
    </div>
</div>
<!-- COMPANY DETAIL SECTION End -->
<!-- LATEST BLOG SECTION START -->
<div class="section-full latest-blog bg-gray p-t80 p-b50">
    <div class="container">
        <!-- TITLE -->
        <div class="section-head text-center">
            <h2 class="text-uppercase">@Resources.Label.LatestNews</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left bg-primary"></span>
                    <span class="separator-right bg-primary"></span>
                </div>
            </div>
            <p>@Resources.Label.LatestNewsDesc</p>
        </div>
        <!-- TITLE -->
        <div class="section-content ">
            <div class="row equal-wraper">
                <!-- COLUMNS 1 -->
                @foreach (var item in Model.RecentBlogs)
                {
                    <div class="col-md-4 col-sm-4">
                        <div class="blog-post latest-blog-1 date-style-2">
                            <div class="wt-post-media wt-img-effect zoom-slow">
                                <a href="/blog/@item.Id"><img src="@item.ImageUrl" alt="@item.TitleSrt"></a>
                            </div>
                            <div class="wt-post-info p-a30 p-b20 bg-white">
                                <div class="wt-post-title ">
                                    <h3 class="post-title"><a href="/blog/@item.Id">@item.TitleSrt</a></h3>
                                </div>
                                <div class="wt-post-meta ">
                                    <ul>
                                        <li class="post-date"><i class="fa fa-calendar"></i><strong>@item.SubmitDate.Day / @item.SubmitDate.Month</strong> <span> @item.SubmitDate.Year</span></li>

                                    </ul>
                                </div>
                                <div class="wt-post-text">
                                    <p>
                                        @item.SummerySrt
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- LATEST BLOG SECTION END -->
<!-- OUR CLIENT SLIDER START -->
<div class="section-full p-t80 p-b50">
    <div class="container">

        <!-- TITLE START -->
        <div class="section-head text-center">
            <h2 class="text-uppercase">@Resources.Label.OurCustomer</h2>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left bg-primary"></span>
                    <span class="separator-right bg-primary"></span>
                </div>
            </div>
            <p>
                @Resources.Label.OurCustomerDesc
            </p>
        </div>
        <!-- TITLE END -->
        <!-- IMAGE CAROUSEL START -->
        <div class="section-content">
            <div class="owl-carousel client-logo-carousel">

                <!-- COLUMNS 1 -->
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo wt-img-effect on-color">
                            <a href="#"><img src="~/Uploads/Customer/1.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 2 -->
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo wt-img-effect on-color">
                            <a href="#"><img src="~/Uploads/Customer/2.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 3 -->
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo wt-img-effect on-color">
                            <a href="#"><img src="~/Uploads/Customer/3.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 4 -->
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo wt-img-effect on-color">
                            <a href="#"><img src="~/Uploads/Customer/4.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 5 -->
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo wt-img-effect on-color">
                            <a href="#"><img src="~/Uploads/Customer/5.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 6 -->
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo wt-img-effect on-color">
                            <a href="#"><img src="~/Uploads/Customer/6.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 7 -->
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo wt-img-effect on-color">
                            <a href="#"><img src="~/Uploads/Customer/7.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- COLUMNS 8 -->
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo wt-img-effect on-color">
                            <a href="#"><img src="~/Uploads/Customer/8.jpg" alt=""></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- IMAGE CAROUSEL START -->
    </div>

</div>
<!-- OUR CLIENT SLIDER END -->
